@import '../base/variables';

.steps-form {
  .steps-form__step:nth-child(2n) {
    background: #f6f6f6;
  }
}

.steps-form__step {
  box-sizing: border-box;
  position: relative;
  .container_12 {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

$stepSize: 36px;

.steps-form__step__step-number {
  background: $brand-color;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: $stepSize / 1.5;
  font-weight: bold;
  height: $stepSize;
  line-height: $stepSize;
  margin-bottom: 10px;
  text-align: center;
  width: $stepSize;
}

.steps-form__step__field-group {
  margin-top: 20px;

  label {
    font-size: 16px;
  }

  .boolean {
    font-size: 16px;
    &:first-child {
      margin-top: 10px;
    }
  }
}

.steps-form__step-next-btn {
  display: none;
}

.comment {
  margin-bottom: 50px;
}

.user_comments_comment{
  padding-top: 25px;
  textarea {
    height: 125px;
  }
}

.up-vote-btn, .down-vote-btn {
  color: #000;
}

.sessions, .registrations {
  #container{
    padding: 25px;
  }
}

@media screen and (min-width: 460px) {
  .steps-form__step {
    .container_12 {
      padding-left: 2 * $stepSize + 10px;
    }
  }

  .steps-form__step__step-number {
    left: 25px;
    position: absolute;
    top: 25px;
  }
}

@media screen and (min-width: $tablet) {

  $stepSize: 54px;

  .steps-form__step {
    .container_12 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .steps-form__step__step-number {
    font-size: $stepSize / 1.6;
    height: $stepSize;
    line-height: $stepSize;
    left: 50%;
    margin-left:  - $tablet / 2 + $stepSize;
    top: 25px;
    width: $stepSize;
  }

  .steps-form__step {
    .container_12 {
      padding-left: 2 * $stepSize + 10px;
      padding-top: 10px;
    }
  }

  .steps-form__step-next-btn {
    display: block;
    margin-top: 40px;
  }
}

@media screen and (min-width: $tablet) {

  $stepSize: 60px;

  .steps-form__step__step-number {
    font-size: $stepSize / 1.6;
    height: $stepSize;
    line-height: $stepSize;
    width: $stepSize;
  }

  .steps-form__step {
    .container_12 {
      padding-left: 2 * $stepSize;
      padding-top: 40px;
    }
  }

  .users.new {
    position: relative;

    header {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    .steps-form__step:first-of-type {
      .steps-form__step__step-number {
        top: 130px;
      }
      .container_12 {
        padding-top: 145px;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  $stepSize: 60px;

  .steps-form__step {
    .container_12 {
      padding-top: 100px;
    }
  }

  .steps-form__step__step-number {
    margin-left:  - $desktop / 2 + $stepSize;
    top: 90px;
  }
}

.users.create {
  #container {
    padding-top: 35px;
  }
  p {
    font-size: 16px;
  }
}

.users.show {
  .btn {
    min-width: 5em;
  }
}

.user-info-divider {
  margin-bottom: 35px;

  h4 {
    margin-bottom: 15px;
  }
}

.comment {
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  margin-top: -1px;
  width: 500px;

  p {
    margin: 5px;
  }

  .date {
    color: #333;
    font-size: 12px;
  }
  textarea {
    margin: 0;
  }
}

.shirt-image {
  display: none;
}

.user-show-container {
  .user-name {
    padding: 25px 0;
  }

  .up-vote-btn, .down-vote-btn {
    color: black;
  }
}

@media screen and (min-width: $desktop) {
  .shirt-image {
    background-color: #ddd;
    background-image: url(image_path("tshirt.png"));
    background-size: cover;
    display: block;
    position: absolute;
    left: 50%;
    top: 150px;
    width: 200px;
    height: 200px;
  }
}

