<table class='user-table table'>
  <tr>
    <th class="icon-cell">Our offer</th>
    <th>Name</th>
    <th class="icon-cell">Their response</th>
    <th>Quick review</th>
  </tr>
  <% applications.each do |app| %>
    <tr>
      <td class="icon-cell">
        <i class="fa <%= app.admin_status_icon %>"></i>
      </td>
      <td>
        <!-- TODO: this should link to the application -->
        <%= link_to app.user.name, user_path(app.user) %>
      </td>
      <td class="icon-cell">
        <i class="fa <%= app.user_status_icon %>"></i>
      </td>
      <td>
        <%= app.important_attributes.join(', ') %>
      </td>
    </tr>
  <% end %>
</table>