<div class="container container_12">
  <% if @application.user_status == 'accepted' %>
    <h1> Awesome! </h1>
    <p>
      We're so excited that you're going to join us! See you soon :)
    </p>
  <% else %>
    <h1> Oh noes! </h1>
    <p>
      We're sad that you're not able to join us. Hopefully next time will work out!
    </p>
  <% end %>
</div>