<%= form_tag(users_path) do %>
<form action="" method="post" class="steps-form">
  <fieldset class="steps-form__step">
    <span class="steps-form__step__step-number">1</span>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="name">Name</label>
        <div class="steps-form__step__field">
          <input type="text" name="name" />
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="email">Email</label>
        <div class="steps-form__step__field">
          <input type="text" name="email" />
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="age">Age</label>
        <div class="steps-form__step__field">
          <input type="radio" name="under_18" value="yes" />
          <input type="radio" name="under_18" value="no" />
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="steps-form__step">
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="track">Track</label>
        <div class="steps-form__step__field">
          <input type="text" name="track" />
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="previous_attendant">Have you attended RailsGirls events before?</label>
        <div class="steps-form__step__field">
          <input type="checkbox" name="previous_attendant" />
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="programming_experience">Programming experience</label>
        <div class="steps-form__step__field">
          <textarea name="programming_experience"></textarea>
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="reason">Why would you like to come?</label>
        <div class="steps-form__step__field">
          <textarea name="reason"></textarea>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="steps-form__step">
    <span class="steps-form__step__step-number">3</span>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="tshirt_size">T-shirt size</label>
        <div class="steps-form__step__field">
          <input type="radio" name="tshirt_size" value="xs" />
          <input type="radio" name="tshirt_size" value="s" />
          <input type="radio" name="tshirt_size" value="m" />
          <input type="radio" name="tshirt_size" value="l" />
          <input type="radio" name="tshirt_size" value="xl" />
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <label for="tshirt_color">T-shirt colour</label>
        <div class="steps-form__step__field">
          <input type="text" name="tshirt_color" />
        </div>
      </div>
    </div>
    <div class="steps-form__step__fields">
      <div class="steps-form__step__field-group">
        <input type="submit" name="submit" />
      </div>
    </div>
  </fieldset>
<% end %>
