<div class="container_12 container">
  <h1> Thanks for applying! </h1>

  <p>We try to get an answer to all our applicants within two weeks. Keep checking your email to find your answer.</p>

  <% status = "I've applied for the next Sydney Rails Girls! You should, too! http://railsgirls.com/sydney" %>

  <p><a class="btn btn-primary" href="http://twitter.com/home?status=<%=status%>"><i class="twitter-share fa fa-twitter"></i>Invite your friends to apply!</a></p>

</div>
