<div class="container_12 container">
  <h1> Thanks for applying! </h1>

  <p>We try to get an answer to all our applicants within two weeks. Keep checking your email to find your answer.</p>

  <p>Invite your girlfriends to apply. </p>

</div>

<!-- twitter -->