<div class="container_12 container">
  <h1>Needs admin response</h1>
  <%= render partial: "need_response", locals: {users: @users_applied} %>

  <h1>Others</h1>
  <%= render partial: "responded_to", locals: {users: @users_responded} %>
</div>
