@import 'variables';

body {
  min-width: auto;
}

.container_12 {
  box-sizing: border-box;
  max-width: none;
  width: 100%;
}

@media screen and (min-width: $tablet) {
  .container_12 {
    margin: 0 auto;
    width: 700px;
  }
}

@media screen and (min-width: $desktop) {
  .container_12 {
    width: 900px;
  }
}
