@import 'variables';

body {
  min-width: auto;
}

.container_12 {
  box-sizing: border-box;
  max-width: none;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}

.user-show-container, .events-container {
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.user-info-divider {
  margin-bottom: 50px;
}

.admin-comment {
  display: block;
  margin: 2em 0;
  padding: 2em 0;
}

.upcoming-events-list li, .past-events-list li {
  padding: 1em 0;
}

@media screen and (min-width: $tablet) {
  .container_12 {
    margin: 0 auto;
    width: 700px;
  }
}

@media screen and (min-width: $desktop) {
  .container_12 {
    width: 900px;
  }
}
