@import 'variables';

body {
  margin: 0 !important;
  min-width: auto;
}

.container_12 {
  box-sizing: border-box;
  max-width: none;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}

.container {
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.upcoming-events-list li, .past-events-list li {
  padding: 1em 0;
}

.table {
  margin-top: -5px;
  width: 100%;

  th {
    border-bottom: 2px solid #ddd;
    text-align: left;
    white-space: nowrap;

    &.icon-cell {
      text-align: center;
    }
  }

  td {
    border-bottom: 1px solid #ddd;
  }

  th, td {
    padding: 5px 10px;
  }

  .icon-cell {
    text-align: center;
    width: 60px;
  }

  h1 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $tablet) {
  .container_12 {
    margin: 0 auto;
    width: 700px;
  }
}

@media screen and (min-width: $desktop) {
  .container_12 {
    width: 900px;
  }
}
