<div class="steps-form__step__fields">
  <div class="steps-form__step__field-group">
    <%= f.input :title, class: 'steps-form__step__field' %>
  </div>
</div>

<div class="steps-form__step__fields">
  <div class="steps-form__step__field-group">
    <%= f.input :live, 
                as: :radio_buttons, 
                label: 'Is this the current live event?' %>
  </div>
</div>
