<%= simple_form_for @event do |f| %>
  <fieldset class="steps-form__step">
    <div class="container_12">
      <h1>Edit event: <%= @event.title %></h1>
        <%= render partial: "form", locals: { f: f } %>
      <div class="steps-form__step-next-btn">
        <%= f.button :submit, class: "btn btn-primary", value: 'Update' %>
      </div>
    </div>
  </fieldset>
<% end %>
