<div class="container_12 events-container container">
  <table class="table">
    <tr>
      <th colspan="4"><h1>Upcoming events</h1></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Applicants</th>
      <th>Data</th>
    </tr>
    <tr>
      <td><a href="/users">Rails Girls August 2015</a></td>
      <td>21-22 August, 2015</td>
      <td><%=link_to 'Applicants', users_path %></td>
      <td><%=link_to 'Data', data_path %></td>
    </tr>
  </table>
</div>

