<div class="container_12 events-container container">
  <h1>Events</h1>
  <h2>Upcoming</h2>
  <ul class="upcoming-events-list">
    <li><a href="/users">Rails Girls August 2015</a></li>
  </ul>
  <h2>Past</h2>
    <ul class="past-events-list">
      <li><a href="">Rails Girls March 2015</a></li>
      <li><a href="">Rails Girls July 2014</a></li>
      <li><a href="">Rails Girls November 2013</a></li>
      <li><a href="">Rails Girls June 2015</a></li>
    </ul>
</div>

