<div class="container_12 events-container container">
  <table class="table">
    <tr>
      <th colspan="2"><h1>Upcoming comments</h1></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
    <tr>
      <td><a href="/users">Rails Girls August 2015</a></td>
      <td>18-19 August, 2015</td>
    </tr>
    <tr>
      <th colspan="2"><br /><h1>Past comments</h1></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Date</th>
    </tr>
    <tr>
      <td><a href="">Rails Girls March 2015</a></td>
      <td>25-26 March, 2015</td>
    </tr>
    <tr>
      <td><a href="">Rails Girls July 2014</a></td>
      <td>16 July, 2014</td>
    </tr>
    <tr>
      <td><a href="">Rails Girls November 2013</a></td>
      <td>11 November, 2013</td>
    </tr>
  </table>
</div>

