<div class="container_12 events-container container">
  <table class="table">
    <tr>
      <th colspan="4"><h1>Upcoming events</h1></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Applicants</th>
      <th>Data</th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event_path(event) %></td>
        <!-- <td><%=link_to 'Applicants', users_path %></td>-->
        <!-- <td><%=link_to 'Data', data_path %></td>-->
      </tr>
    <% end %>
  </table>
</div>

